body 
{
    color: rgb(71, 231, 210);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#container
{
    width: 60%;
    padding: 1em;
    border: 1px solid #ccc;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#container p 
{
    text-align: left;
}